﻿<!DOCTYPE html>
<html>
<head>
    <title>Xliff Translator</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/Content/mvcfileupload/vendor/bootstrap.min.css">
    <link rel="icon" type="image/png" href="~/Content/img/iborn.png" />

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #333">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#"><img class="img-responsive" src="~/Content/img/iborn.png" style="float: left; height: 5vh; margin-top: 0.5vh;" /></a> 
                <a class="navbar-brand" href="#">Xliff Translator</a>
                <div class="nav-collapse collapse">
                    <ul class="nav"></ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Convert xliff files to excel</h3>

        @RenderBody()

    </div> <!-- /container -->
    <!-- For bootstrap modal dialog-->
    <script type="text/javascript" src="/Scripts/mvcfileupload/vendor/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
    <!--Footer-->
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">
                © 2018 Copyright: <a href="http://www.iborn.net"> IBORN.NET </a>
            </p>
        </div>
    </footer>
</body>
</html>