﻿@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models

@{
    ViewBag.Title = "Home Page";

    //option for inline view only
    var ui = "jquery".Equals(Request.Params["ui"]) ? UploadUI.JQueryUI : UploadUI.Bootstrap;
    var toggleUi = ui == UploadUI.Bootstrap ? "jquery" : "bootstrap";

    //setting layout based on ui
    Layout = "~/Views/Shared/" + (ui == UploadUI.Bootstrap ? "_MvcFileUploaderLayout.cshtml" : "_MvcFileUploaderLayout_jui.cshtml");
}

<div class="well" style="margin-bottom: 50px !important">
    <legend>Upload and convert</legend>
    <p class="help-block">xliff/xlf size max 10 MB</p>
    <p class="help-block">Select all files, click upload and your excel file will be ready</p>
    @(
                                                                    Html.MvcFileUpload()
                                                                    .UploadAt(Url.Action("UploadFile"))
                                                                    .WithFileTypes(@"/(\.|\/)(xliff|xlf)$/i")
                                                                    .WithMaxFileSize(10000000)
                                                                    .DisableImagePreview()
                                                                    .RenderInline("_MvcFileupload")

    )
    <button type="button" class="btn btn-primary" id="convertAndDownload" style="display:none">
        <i class="glyphicon glyphicon-download"></i>
        <span>@Html.ActionLink("Convert and Download", "DownloadExcel", "Home", new { guid = @ViewBag.guid }, new { @style = "color: white;" })</span>
    </button>
    <button type="button" class="btn btn-success" id="convertAgain" style="display:none">
        <i class="glyphicon glyphicon-briefcase"></i>
        <span>@Html.ActionLink("Convert Again", "Index", "Home", null, new { @style = "color: white;" })</span>
    </button>
    <script>
        $("#btnUpload").on("click", function () {
            if ($(".template-upload").length) {
                $("#convertAndDownload").removeAttr("style");
                $("#convertAgain").removeAttr("style");
                $(".fileupload-buttonbar").hide();
                
            }
        });
    </script>
</div>
@Html.Raw(TempData["msg"])